body{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

@media(max-width:740px){
    .desk-nav-con .desk-nav .desk-links ul li{
        margin-left: 20px;
        margin-right: 20px;
    }
    .desk-nav-con .desk-nav .desk-links ul li a{
        font-size: 18px;
    }
}
@media(max-width:580px){
    .desk-nav-con .desk-nav .desk-links ul li{
        margin-left: 10px;
        margin-right: 10px;
    }
    .desk-nav-con .desk-nav .desk-links ul li a{
        font-size: 14px;
    }
    .desk-nav-con .desk-nav .desk-logo a img{
        height: 50px;
        width: 50px;
    }
    .desk-nav-con .desk-nav .fb-icon a img{
        height: 50px;
        width: 50px;
    }
}
@media(max-width:395px){
    .desk-nav-con .desk-nav .desk-logo a img{
        height: 35px;
        width: 35px;
    }
    .desk-nav-con .desk-nav .fb-icon a img{
        height: 35px;
        width: 35px;
    }
    .desk-nav-con .desk-nav .desk-links ul li a{
        font-size: 12px;
    }
}


.desk-nav-con{
    text-align: center;
}
.desk-nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 5px;
    border-bottom: solid gray;
    width: 100%;
    z-index: 99;
}

.desk-logo{
    padding-left: 25px;
}
.desk-logo img{
    height: 65px;
    width: 65px;
}
.desk-links ul{
    display: flex;
    justify-content: center;
    height: 100%;
    padding-left: 0px;
}
.desk-links ul li{
    list-style: none;
    font-weight: bold;
    font-family: poppins;
    margin-top: auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: auto;
}
.desk-links ul li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: .5s;
}
.desk-links ul li a:hover{
    color: red;
}
.fb-icon{
    padding-right: 25px;
}
.fb-icon img{
    height: 65px;
    width: 65px;
}
.desk-hero-container{
    position: relative;
    padding-top: 60px;
}
.desk-hero-content{
    position:absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 80px;
}
.desk-hero-text p{
color: white;
font-weight: bold;
font-size: 20px;
margin-top: 45px;
}

.desk-hero-text button{
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
    padding: 10px 50px;
    transition: .5s;
}
.desk-hero-text button:hover{
    color: white;
    background-color: red;
}
.hero-image{
    width: 100%;
    height: 100%;
    filter: grayscale();
}
.desk-hero-logo img{
    filter: none;
}
.desk-about-container{
    display: flex;
}
.about-us-text-con{
    width: 60%;
    text-align: center;
    background-color: black;
    padding: 50px 60px 50px 60px;
}
.about-us-border{
    background-color: white;
    padding: 5px 60px 5px 60px;
}
.about-us-text-content{
    background-color: white;
    border: solid black;
    margin: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.about-us-text-content h3{
    margin-top: 25px;
    margin-bottom: 25px;
    color: red;
    font-weight: bolder;
}
.about-us-text-content p{
    text-align: left;
    font-weight: bold;
    margin-bottom: 25px;
}
.about-us-text-content button{
    border: none;
    font-size: 18px;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    width: 80%;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    transition: .5s;
}
.about-us-text-content button:hover{
    background-color: red;
    color: white;
}
.about-us-images-con{
    position: relative;
    width: 40%;
    background-color: red;
}
.about-us-images-content{
    position: absolute;
    top: 18%;
    right: 30%;
}
.about-us-images-content img{
    border:solid 10px black;
}
.desk-song-list-con{
    padding-bottom: 60px;
}

.desk-song-list-con h3{
    text-align: center;
    font-weight: bolder;
    margin-top: 30px;
}
.song-list-years{
    margin-top: 50px;
}
.song-list-years ul{
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.song-list-years ul li button{
    width: 125px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: solid black;
    border-bottom: none;
    background-color: white;
}
@media(max-width:990px){
    .desk-song-list-con .desk-song-list-content div .song-list-catagories-con{
        width: 80%;
    }
    .desk-song-list-con .desk-song-list-content div .seventies-song-list{
        width: 80%;
    }
    .desk-song-list-con .desk-song-list-content div .eighties-song-list{
        width: 80%;
    }
    .desk-song-list-con .desk-song-list-content div .nineties-song-list{
        width: 80%;
    }
}
@media(max-width:770px){
    .desk-song-list-con .desk-song-list-content div .song-list-catagories-con{
        width: 85%;
    }
    .desk-song-list-con .desk-song-list-content div .seventies-song-list{
        width: 85%;
    }
    .desk-song-list-con .desk-song-list-content div .seventies-song-list .song-item-white{
        font-size: 14px;
    }
    .desk-song-list-con .desk-song-list-content div .seventies-song-list .song-item-gray{
        font-size: 14px;
    }
    .desk-song-list-con .desk-song-list-content div .eighties-song-list{
        width: 85%;
    }
    .desk-song-list-con .desk-song-list-content div .nineties-song-list{
        width: 85%;
    }

}
@media(max-width:540px){
    .desk-song-list-con .desk-song-list-content div .song-list-catagories-con{
        width: 90%;
    }
    .desk-song-list-con .desk-song-list-content div .seventies-song-list{
        width: 90%;
        height: 400px;
    }
    .desk-song-list-con .desk-song-list-content div .seventies-song-list .song-item-white{
        font-size: 14px;
    }
    .desk-song-list-con .desk-song-list-content div .seventies-song-list .song-item-gray{
        font-size: 14px;
    }
    .desk-song-list-con .desk-song-list-content div .eighties-song-list{
        width: 90%;
        height: 400px;
    }
    .desk-song-list-con .desk-song-list-content div .nineties-song-list{
        width: 90%;
        height: 500px;
    }

}
@media(max-width:580px){
    .desk-song-list-con .desk-song-list-content .song-list-years ul li .seventies-btn{
        width: 100px;
    }
    .desk-song-list-con .desk-song-list-content .song-list-years ul li .eighties-btn{
        width: 100px;
    }
    .desk-song-list-con .desk-song-list-content .song-list-years ul li .nineties-btn{
        width: 100px;
    }
    .desk-song-list-con .desk-song-list-content .song-list-years ul{
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media(max-width:410px){
    .desk-song-list-con .desk-song-list-content .song-list-years ul{
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media(max-width:350px){
    .desk-song-list-con .desk-song-list-content .song-list-years ul li .seventies-btn{
        width: 75px;
    }
    .desk-song-list-con .desk-song-list-content .song-list-years ul li .eighties-btn{
        width: 75px;
    }
    .desk-song-list-con .desk-song-list-content .song-list-years ul li .nineties-btn{
        width: 75px;
    }
    .desk-song-list-con .desk-song-list-content div .seventies-song-list .song-item-white{
        font-size: 12px;
    }
    .desk-song-list-con .desk-song-list-content div .seventies-song-list .song-item-gray{
        font-size: 12px;
    }
}


.song-list-catagories-con{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.song-list-catagories{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.song-list-catagories div p{
    text-align: left;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 5px;
}
.album-col{
    border-top: solid black;
    border-left: solid black;
    border-bottom: solid black;
}
.song-col{
    border-top: solid black;
    border-bottom: solid black;
}
.genre-col{
    border-top: solid black;
    border-bottom: solid black;
    border-right: solid black;
}
.seventies-song-list{
    border-bottom: solid black;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 70%;
}
.song-item-white{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-left: solid black;
    border-right: solid black;
}
.song-item-white div{
    border: solid black;
    text-align: center;
}
.song-item-white div img{
    margin-top: 10px;
    margin-bottom: 10px;
}
.song-item-white div p{
    font-weight: bold;
    padding-top: 25px;
}
.song-item-gray{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-left: solid black;
    border-right: solid black;
}
.song-item-gray div{
    border: solid black;
    background-color: lightgray;
    text-align: center;
}
.song-item-gray div img{
    margin-top: 10px;
    margin-bottom: 10px;
}
.song-item-gray div p{
    font-weight: bold;
    padding-top: 25px;
}
.eighties-song-list{
    border-bottom: solid black;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 70%;
}
.nineties-song-list{
    border-bottom: solid black;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 70%;
}
.song-list-years ul li .seventies-btn{
    border-top: solid black;
    border-left: solid black;
    border-right: solid black;
    width: 125px;
    color: white;
    background-color: red;
}
.song-list-years ul li .eighties-btn{
    width: 125px;
    transition: .5s;
    background-color: black;
    color: white;
}
.song-list-years ul li .eighties-btn:hover{
    background-color: white;
    color: black;
}
.song-list-years ul li .nineties-btn{
    width: 125px;
    transition: .5s;
    background-color: black;
    color: white;
}
.song-list-years ul li .nineties-btn:hover{
    background-color: white;
    color: black;
}
.media-sec-con{
    height: 800px;
}
.media-header{
    padding-top: 20px;
    color: red;
}