body{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
.desk-nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 5px;
    border-bottom: solid gray;
    width: 100%;
    z-index: 99;
}
.desk-logo{
    padding-left: 25px;
}
.desk-links ul{
    display: flex;
    height: 100%;
}
.desk-links ul li{
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    font-family: poppins;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
}
.desk-links ul li a{
    text-decoration: none;
    color: black;
    transition: .5s;
}
.desk-links ul li a:hover{
    color: red;
}
.fb-icon{
    padding-right: 25px;
}
.desk-hero-container{
    position: relative;
    padding-top: 70px;
}
.desk-hero-content{
    position:absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 80px;
}
.desk-hero-text p{
color: white;
font-weight: bold;
font-size: 20px;
margin-top: 45px;
}

.desk-hero-text button{
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
    padding: 10px 50px;
    transition: .5s;
}
.desk-hero-text button:hover{
    color: white;
    background-color: red;
}
.hero-image{
    width: 100%;
    height: 100%;
    filter: grayscale();
}
.desk-hero-logo img{
    filter: none;
}
.desk-about-container{
    display: flex;
}
.about-us-text-con{
    width: 60%;
    text-align: center;
    background-color: black;
    padding: 50px 60px 50px 60px;
}
.about-us-border{
    background-color: white;
    padding: 5px 60px 5px 60px;
}
.about-us-text-content{
    background-color: white;
    border: solid black;
    margin: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.about-us-text-content h3{
    margin-top: 25px;
    margin-bottom: 25px;
    color: red;
    font-weight: bolder;
}
.about-us-text-content p{
    text-align: left;
    font-weight: bold;
    margin-bottom: 25px;
}
.about-us-text-content button{
    border: none;
    font-size: 18px;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    width: 80%;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    transition: .5s;
}
.about-us-text-content button:hover{
    background-color: red;
    color: white;
}
.about-us-images-con{
    position: relative;
    width: 40%;
    background-color: red;
}
.about-us-images-content{
    position: absolute;
    top: 18%;
    right: 30%;
}
.about-us-images-content img{
    border:solid 10px black;
}
.desk-song-list-con{
    padding-bottom: 60px;
}
.desk-song-list-con h3{
    text-align: center;
    font-weight: bolder;
    margin-top: 30px;
}
.song-list-years{
    margin-top: 50px;
}
.song-list-years ul{
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.song-list-years ul li button{
    width: 125px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: solid black;
    border-bottom: none;
    background-color: white;
}

.song-list-catagories-con{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.song-list-catagories{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.song-list-catagories div p{
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 5px;
}
.album-col{
    border: solid black;
}
.song-col{
    border-top: solid black;
    border-bottom: solid black;
}
.genre-col{
    border: solid black;
}
.seventies-song-list{
    display: none;
    border-bottom: solid black;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 70%;
}
.song-item-white{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.song-item-white div{
    border: solid black;
    text-align: center;
}
.song-item-white div img{
    margin-top: 10px;
    margin-bottom: 10px;
}
.song-item-white div p{
    padding-top: 25px;
}
.song-item-gray{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.song-item-gray div{
    border: solid black;
    background-color: lightgray;
    text-align: center;
}
.song-item-gray div img{
    margin-top: 10px;
    margin-bottom: 10px;
}
.song-item-gray div p{
    padding-top: 25px;
}
.eighties-song-list{
    display: none;
    border-bottom: solid black;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 70%;
}
.nineties-song-list{
    border-bottom: solid black;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 70%;
}